MONGO_URL=DATABASE_URL
PORT=PORT
JWT_SECRET_KEY = SECRET_KEY
PAGINATION = TABLE_PAGINATION
FORNTEND_URL=FRONT_APP_URL
LIVE_API_URL=API_URL
SERVICE_API_URL=SERVICE_URL
REDIS_HOST=HOST_NAME
REDIS_PORT=RADIS_PORT
REDIS_PASSWORD=9M1FIotJ0MqoU7WIFuX6GA1k1Q9wcftX
SMTP_HOST=MAIL_HOST
SMTP_PORT=MAIL_PORT   
SMTP_EMAIL=EMAIL_ID
SMTP_PASSWORD=EMAIL_PASSWORD
SMTP_TLS=true
QB_CLIENTID=QB_CLIENTID
QB_CLIENTSECRET=QB_CLIENTSECRET
QB_ENVIRONMENT=QB_ENVIRONMENT
QB_COMPANYID=QB_COMPANYID
QB_BASE_URL=QB_BASE_URL
QB_REDIRECTURI=QB_REDIRECTURI
QB_WEBHOOKS_VERIFIER=QB_WEBHOOKS_VERIFIER
QB_IS_PRODUCTION=QB_WEBHOOKS_VERIFIER